#form {
  position: relative;
  display: flex; flex-flow: column nowrap;
  font-size: 1rem;
  line-height: 1.3rem;}
#form * {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  transition: box-shadow .25s ease-in-out,
              border .25s ease-in-out, 
              background .25s ease-in-out, 
              padding .25s ease-in-out;
  -webkit-transition: box-shadow .25s ease-in-out, 
                      border .25s ease-in-out, 
                      background .25s ease-in-out, 
                      padding .25s ease-in-out;}

#form .row {
  position: relative;
  display: flex; align-items: center;
  margin-bottom: 10px;}

#form .form-label {
  padding: 12px;
  display: inline-block;}
#form .form-check {
  display: inline-block;
  margin-right: 10px;}
#form .form-control, #form .form-select {
  width: 100%;
  padding: 12px;
  border: 1px solid #00000020;
  border-radius: 5px;
  resize: vertical;}
#form .form-control:hover, #form .form-select:hover, #form .form-check-input:hover,
#form .form-control:focus, #form .form-select:focus, #form .form-check-input:focus {
  border: 1px solid #9b9b00;
  box-shadow: 0 0 5px #00000040;
  -webkit-box-shadow: 0 0 5px #00000040;}
#form .row:nth-last-child(-n+2) {margin-bottom: 60px;}
#form .icon {
  width: 30px; height: 45px;
  position: absolute;
  display: flex;
  justify-content: center; align-items: center;
  right: -20px;top: 0;}
#form i{
  position: absolute;
  font-family: 'Font Awesome 5 Free'}

#form .failure-icon, .error {color: red;}
#form .success-icon {color: green;}
#form .success-icon, .failure-icon {opacity: 0;}